
:root {
  --cb-primary-color: #673de6; 
  --cb-secondary-color: #1d1e20;
  --cb-primary-bg-color: #f1f3f6;
  --cb-border-color: #dad9da;
}

body {
  position: relative;
}

.chatbox {
  width: 360px;
  height: 520px;
  background: #fff;
  filter: drop-shadow(0 0 12px rgba(29, 30, 32, .16));
  border: 1px solid var(--cb-border-color);
  border-radius: 6px;
  overflow: hidden;
  position: fixed;
  left: 20px;
  bottom: 90px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
/*  opacity: 0;
  transform: translateY(30px);*/
  transition: all .3s;
  z-index: 998;
}

.chat-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 6px;
  background-color: var(--cb-primary-color);
  z-index: 999;
  transition: all .3s;
}

.chatbox.active {
  opacity: 1;
  transform: translateY(0);
}

/*.chat-toggle svg {
  transition: all .3s;
}

.chat-toggle:hover {
  background-color: #fff;
  border: 1px solid var(--cb-primary-color);
}

.chat-toggle:hover svg {
  fill: var(--cb-primary-color);
}*/

#chatbot-message .chat-header {
  background: var(--cb-primary-bg-color);
  color: #fff;
  padding: 8px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: var(--cb-secondary-color);
}

#chatbot-message .chat-header .header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: var(--cb-secondary-color);
}

#chatbot-message .logo-main {
  max-width: 22px;
  margin-right: 10px;
  border-radius: 3px;
  transform: translateY(-1px);
  border: 1px solid #dcdcdc;
}

#chatbot-message .logo-main.logo-message {
  min-width: 20px;
  transform: translateY(2px);
  border: 1px solid #dcdcdc;
}

#chatbot-message .chatbot-ai-button-close {
  border-bottom: none;
  padding: 0;
  min-height: 40px;
  font-size: 26px;
  font-weight: 400;
  color: #515151;
  transition: all .3s;
  border: none;
  cursor: pointer;
}

#chatbot-message .chatbot-ai-button-close:hover {
  transform: rotate(90deg);
  color: var(--cb-primary-color);
  background-color: transparent;
}

.chat-body {
  flex: 1;
  padding: 10px 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  height: 100%;
  overflow-y: auto;
}

.message {
  margin: 8px 0;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 14px;
  max-width: 100%;
  line-height: 1.4;
  color: var(--cb-secondary-color) !important;
}

.message.received {
  background: var(--cb-primary-bg-color);
  align-self: flex-start;
  max-width: 100%;
}

.message.default {
  position: relative;
}

.message.chatbot-logo,
.message.received {
  display: flex;
  align-items: flex-start;
}

.message.sent {
  background: var(--cb-primary-color);
  color: white !important;
  align-self: flex-end;
}

.ai-chatbot-questions-default {
  margin-bottom: 5px;
}

.ai-chatbot-questions-default .lable {
  font-size: 13px;
  line-height: 1.4;
  font-weight: 400;
  margin: 10px 0 5px;
}

.ai-chatbot-questions {
  border: 1px solid var(--cb-border-color);
  border-radius: 999px;
  cursor: default;
  margin-top: 8px;
  padding: 9px 15px;
  font-size: 13px;
  line-height: 1.4;
  font-weight: 400;
  transition: border-color .2s ease-in-out;
  cursor: pointer;
}

.ai-chatbot-questions:hover {
  border-color: var(--cb-primary-color);
}

.chat-footer {
  padding: 10px 15px;
  background: var(--cb-primary-bg-color);
  border-top: 1px solid var(--cb-border-color);
  align-items: center;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

#chat-footer.chat-footer input {
  width: 100%;
  height: 50px;
  padding: 10px 15px;
  border: 1px solid var(--cb-border-color) !important;
  border-radius: 8px;
  background: #fff;
  font-size: 14px;
  box-shadow: none;
}

#chat-footer.chat-footer button {
  background-color: var(--cb-primary-bg-color);
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 20px;
  bottom: 15px;
  width: 40px;
  background-color: var(--cb-primary-color);
  transition: all .3s;
}

.chat-footer button svg {
  fill: #FFF;
  transition: all .3s;
}

#chat-footer.chat-footer button:hover {
  background: var(--cb-primary-bg-color);
  border: 1px solid var(--cb-border-color);
} 

.chat-footer button:hover svg {
  fill: var(--cb-primary-color);
}

#chat-footer.chat-footer input:hover,
#chat-footer.chat-footer input:active,
#chat-footer.chat-footer input:focus-visible {
  border-color: var(--cb-primary-color) !important;
  outline: none;
}

/* Style message search */
#chatbot-message .message-search {
  padding: 12px 15px 12px 12px;
  display: flex;
  align-items: flex-start;
}

#chatbot-message .message-search img {
  transform: translateY(1px);
}

#chatbot-message .label-message {
  font-weight: 500;
}

#chatbot-message ul {
  margin: 5px 0 0 15px;
}

#chatbot-message .list-item-search {
  list-style: none;
  margin-bottom: 5px;
  position: relative;
}

#chatbot-message .list-item-search:before {
  position: absolute;
  content: '';
  top: 7px;
  left: -15px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: var(--cb-primary-color);
}

#chatbot-message .list-item-search:last-child {
  margin-bottom: 0;
}

#chatbot-message .list-item-search a {
  color: var(--cb-secondary-color);
  text-decoration: underline;
  line-height: normal;
}

#chatbot-message .list-item-search a:hover {
  color: var(--cb-primary-color);
}

/*Css loading send message*/
.chatbot-box-loader {

}

.chatbot-box-loader span {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: var(--cb-primary-color);
  margin: 0 1px;
  opacity: 0;
}

.chatbot-box-loader span:nth-child(1) {
  animation: opacitychange 1s ease-in-out infinite;
}

.chatbot-box-loader span:nth-child(2) {
  animation: opacitychange 1s ease-in-out 0.33s infinite;
}

.chatbot-box-loader span:nth-child(3) {
  animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange {
  0%, 100% {
    opacity: 0;
  }

  60% {
      opacity: 1;
  }
}